@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-style: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .container {
    width: 92%;
  }
}
.header {
  background-color: #222222;
}

.header__wrp {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__logo-img {
  margin: 7px 41px 0 0;
}

.material-icons__color {
  fill: whitesmoke;
}

.header__container {
  display: flex;
}

.header__search-icon-input-button {
  float: right;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  margin-top: 10px;
}

.header__search-icon-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
  margin-top: 10px;
}

.header__search-icon:hover > .header__search-icon-input {
  width: 240px;
  background: #4A4A4A;
  color: #F16D7F;
  border-radius: 20px 20px 20px 20px;
}

.header__link-persona {
  margin: 0 0 0 33px;
  fill: #E8E8E8;
}

.header__link-basket {
  fill: #E8E8E8;
  margin: 0 0 0 33px;
}

.header__link-burger {
  fill: #E8E8E8;
}

.header__link-burger:hover {
  fill: #F16D7F;
}

.header__link-persona:hover {
  fill: #F16D7F;
}

.header__link-basket:hover {
  fill: #F16D7F;
}

.header__menu-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__link-burger {
  background: #222222;
  border: 0;
}

.header__nav {
  display: none;
  position: absolute;
  min-width: 262px;
  top: 100%;
  right: -350px;
  min-height: 763px;
}

.header__nav-cart {
  display: none;
  position: absolute;
  min-width: 262px;
  top: 100%;
  right: -350px;
  min-height: 763px;
  margin-top: 120px;
  text-align: center;
}

.header__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__link-burger:hover + .header__nav,
.header__link-burger:focus + .header__nav {
  display: block;
}

.header__link-burger:hover + .header__nav-cart,
.header__link-burger:focus + .header__nav-cart {
  display: block;
}

.header__nav-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 24px;
}

/** планшет **/
/** мобилка **/
@media (max-width: 375px) {
  .header__menu-item-persona {
    display: none;
  }

  .header__menu-item-basket {
    display: none;
  }

  .header__link-persona {
    display: none;
  }

  .header__link-basket {
    display: none;
  }
}
.nav-item__item {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  list-style: none;
}

.nav-item__item-choice {
  text-decoration: none;
  color: #6F6E6E;
}

.nav-item__item-choice:hover {
  opacity: 0.5;
}

.nav-item__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
  color: #F16D7F;
  margin-bottom: 22px;
  margin-top: 22px;
}

.nav__filter {
  display: none;
  position: absolute;
  top: 100%;
  width: 370px;
  height: 590px;
  z-index: 100;
  background: #FFFFFF;
  opacity: 0.9;
}

.nav__filter-titlle {
  padding-top: 24px;
  padding-left: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  text-transform: uppercase;
}

.nav__filter-stripe {
  opacity: 0.3;
  width: 327px;
  margin-top: 11px;
  margin-left: 5px;
}

.nav__filter-list {
  padding-left: 11px;
  padding-top: 24px;
}

.nav__filter-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-bottom: 11px;
}

.nav__filter-link {
  text-decoration: none;
  color: #6F6E6E;
}

.nav__filter-item:hover {
  color: #EF5B70;
}

.nav__filter-stripe {
  opacity: 0.3;
  width: 327px;
  margin-top: 11px;
  margin-left: 5px;
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  list-style: none;
}

.sales__item {
  height: 260px;
  background-color: #544A48;
  width: 32%;
}

.sales__item-block {
  padding-top: 105px;
}

.sales__item-women {
  background-image: url(../img/women-sales.jpg);
}

.sales__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.sales__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F18B99;
}

.sales__item-men {
  background-image: url(../img/Men-hot.jpg);
}

.sales__item-kids {
  background-image: url(../img/Kids.jpg);
}

.sales__item-accesories {
  background-image: url(../img/accesories.jpg);
  width: 100%;
  margin: 30px 0 97px 0;
  height: 180px;
}

.sales__item-block-accesories {
  padding: 65px;
}

@media (max-width: 767px) {
  .sales__item-women {
    width: 233px;
    height: 167px;
  }

  .sales__item {
    max-width: 32%;
  }

  .sales__item-men {
    width: 233px;
    height: 167px;
  }

  .sales__item-kids {
    width: 233px;
    height: 167px;
  }

  .sales__item-accesories {
    max-width: 100%;
    height: 117px;
    background-size: cover;
    background-position: center;
  }

  .sales__item-block-accesories {
    flex-direction: column;
    padding: 33px;
    display: flex;
  }

  .sales__item-block {
    padding-top: 59px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .sales__item-women {
    width: 343px;
    height: 247px;
  }

  .sales__item-men {
    width: 343px;
    height: 247px;
    margin: 32px 0 32px 0;
  }

  .sales__item-kids {
    width: 343px;
    height: 247px;
  }

  .sales__item-block {
    padding-top: 105px;
  }

  .sales__item {
    max-width: 100%;
  }

  .sales__item-block-accesories {
    max-width: 100%;
    height: 111px;
    flex-direction: column;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .sales__item-accesories {
    background-size: cover;
    background-position: center;
    margin-bottom: 64px;
  }
}
.main__registration {
  background: #F8F3F4;
  min-height: 148px;
}

.main__registration-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 59px 0 60px;
}

.main__shopping-cart {
  background: #F8F3F4;
  min-height: 148px;
}

.main__shopping-cart-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 59px 0 60px;
}

.main__nav {
  background: #F8F3F4;
  min-height: 148px;
}

.main__nav-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 59px;
}

.main__nav-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.main__nav-list {
  display: flex;
}

.main__nav-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.main__nav-item-item {
  text-decoration: none;
  color: #636363;
}

.main__nav-item-span {
  padding: 0 5px;
}

.main__nav-item-item-arrivals {
  color: #F16D7F;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.main__img {
  display: flex;
  justify-content: center;
  background: #F7F7F7;
}

@media (max-width: 375px) {
  .main__registration-title {
    text-align: center;
  }

  .main__nav-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
  }

  .main__nav-title {
    padding: 24px 0 32px 0;
  }

  .main__shopping-cart-title {
    text-align: center;
  }

  .main__img {
    width: 100%;
  }
}
.form__text-input {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-top: 64px;
}

.form__input-text-one {
  width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: black;
  box-sizing: border-box;
  padding-left: 17px;
  opacity: 0.6;
}

.form__input-text-one:hover,
.form__input-text-one:focus {
  outline: 1px solid #F26376;
  cursor: pointer;
}

.form__input-text-two {
  width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: black;
  margin-top: 21px;
  box-sizing: border-box;
  padding-left: 17px;
  margin-bottom: 31px;
  opacity: 0.6;
}

.form__input-text-two:hover,
.form__input-text-two:focus {
  outline: 1px solid #F26376;
  cursor: pointer;
}

.form__input-radio-male {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.form__input-radio-male-span {
  padding-left: 10px;
  padding-right: 20px;
}

.form__input-radio-female-span {
  padding-left: 10px;
}

.form__input-radio-other-span {
  padding-left: 10px;
}

.form__input-radio-female {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.form__input-radio-other {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  padding-left: 10px;
}

.form__text-input-registration {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 33px;
  margin-bottom: 21px;
}

.form__input-text-email {
  width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: black;
  box-sizing: border-box;
  padding-left: 17px;
  opacity: 0.6;
}

.form__input-text-email:hover,
.form__input-text-email:focus {
  outline: 1px solid #F26376;
  cursor: pointer;
}

.form__input-text-password {
  width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: black;
  margin-top: 21px;
  box-sizing: border-box;
  padding-left: 17px;
  opacity: 0.6;
}

.form__input-text-password:hover,
.form__input-text-password:focus {
  outline: 1px solid #F26376;
  cursor: pointer;
}

.form__text-input-form {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 359px;
  margin: 15px 0 39px 0;
}

.form__registration {
  display: flex;
}

.form__registration-list {
  display: inline-block;
}

.form__input-bangladesh {
  margin-top: 20px;
  width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: black;
  box-sizing: border-box;
  padding-left: 16px;
  opacity: 0.5;
  border: 1px solid #A4A4A4;
}

.form__input-bangladesh:hover,
.form__input-bangladesh:focus {
  outline: 1px solid #F26376;
  cursor: pointer;
}

.form__input-state {
  margin-top: 20px;
  width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: black;
  box-sizing: border-box;
  padding-left: 16px;
  opacity: 0.5;
  border: 1px solid #A4A4A4;
}

.form__input-state:hover,
.form__input-state:focus {
  outline: 1px solid #F26376;
  cursor: pointer;
}

.form__input-postcode {
  margin-top: 20px;
  width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: black;
  box-sizing: border-box;
  padding-left: 16px;
  opacity: 0.5;
  border: 1px solid #A4A4A4;
}

.form__input-postcode:hover,
.form__input-postcode:focus {
  outline: 1px solid #F26376;
  cursor: pointer;
}

@media (max-width: 767px) {
  .form__registration-list {
    width: 46%;
  }
}
@media (max-width: 375px) {
  .form__registration {
    display: flex;
    flex-direction: column;
  }

  .form__registration-list {
    width: 100%;
  }

  .form__text-input {
    padding-top: 41px;
  }

  .form__input-text-one {
    width: 100%;
  }

  .form__input-text-two {
    width: 100%;
  }

  .form__input-text-email {
    width: 100%;
  }

  .form__input-text-password {
    width: 100%;
  }

  .form__input-bangladesh {
    width: 97%;
  }

  .form__input-state {
    width: 97%;
  }

  .form__input-postcode {
    width: 97%;
  }
}
.benefits__item:hover {
  opacity: 0.6;
}

.benefits__item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
}

.benefits__item {
  position: relative;
}

.benefits__item:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 4px;
  left: -44px;
  background-image: url(../img/check.svg);
}

.benefits {
  margin-left: 128px;
  margin-top: 64px;
}

.benefits__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
}

.benefits__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 22px 0 21px;
}

@media (max-width: 767px) {
  .benefits {
    width: 52%;
  }

  .benefits__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 42px;
  }

  .benefits__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 42px;
  }

  .benefits__list {
    padding-left: 74px;
  }

  .benefits__item {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  .benefits__item:before {
    padding-left: -34px;
  }

  .benefits {
    margin-left: 22px;
  }
}
@media (max-width: 375px) {
  .benefits {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .benefits__title {
    padding: 0px;
  }

  .benefits__text {
    padding: 0px;
  }

  .benefits__list {
    padding-left: 44px;
  }

  .benefits__button {
    text-align: center;
    margin-top: 16px;
  }
}
.button__input {
  display: inline-block;
}

.button__type-registration {
  color: #F26376;
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 18px 66px 17px 29px;
  background: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 96px;
  box-shadow: 17px 18px 8px 0px rgba(34, 60, 80, 0.2);
  position: relative;
}

.button__img-stels {
  position: absolute;
  margin-left: 20px;
  margin-top: 2px;
}

.button__type-registration:hover {
  background: #F26376;
  color: white;
}

.button__form-quote {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  width: 100px;
  height: 34px;
  text-transform: uppercase;
  margin-top: 24px;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  opacity: 0.9;
  box-shadow: 17px 18px 8px 0px rgba(34, 60, 80, 0.2);
}

.button__form-quote:hover {
  background: #F26376;
  color: white;
}

.button__shopping-cart {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 234px;
  height: 49px;
  box-sizing: border-box;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  text-transform: uppercase;
  opacity: 0.8;
  box-shadow: 17px 18px 8px 0px rgba(34, 60, 80, 0.2);
}

.button__continue-shopping {
  margin-left: 180px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 234px;
  height: 49px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
  opacity: 0.8;
  box-shadow: 17px 18px 8px 0px rgba(34, 60, 80, 0.2);
}

.shopping__invisible {
  display: none;
}

.button__shopping-cart:hover {
  background: #F26376;
  color: white;
}

.button__continue-shopping:hover {
  background: #F26376;
  color: white;
}

.button__menu {
  border: 0;
  background: white;
}

.button__menu-size {
  background: white;
  border: 0;
}

.button__menu-size:hover + .checkbox__sizes,
.button__menu-size:focus + .checkbox__sizes {
  display: block;
}

.button__svg {
  padding-left: 10px;
  padding-bottom: 3px;
  fill: #6F6E6E;
}

.button__svg:hover {
  fill: #F26376;
}

.button__catalog {
  display: flex;
  justify-content: center;
  margin: 48px 0 96px 0;
}

.button__page-selection {
  border: 0;
  background: white;
}

.button__page-selection-button {
  border: 0;
  background: white;
}

.button {
  display: flex;
  justify-content: center;
}

.button__link {
  padding-top: 10px;
  position: absolute;
  padding-right: 145px;
}

.button__svg-basket {
  fill: #FF6A6A;
  position: absolute;
  margin-left: 494px;
}

.button__svg-basket:hover {
  opacity: 0.5;
}

.button__button-cart {
  padding: 14px 65px 14px 72px;
  border: 1px solid #FF6A6A;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FF6A6A;
  border-radius: 5px;
  margin-left: 464px;
}

@media (max-width: 767px) {
  .button__svg-basket {
    margin-left: 297px;
  }

  .button__button-cart {
    margin-left: 276px;
  }
}
@media (max-width: 375px) {
  .button__type-registration {
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 18px 33px 17px 29px;
  }

  .button__img-stels {
    margin-left: 8px;
  }

  .button__button-cart {
    margin-left: 74px;
  }

  .button__svg-basket {
    margin-left: 103px;
  }
}
.brand {
  display: flex;
}

.brand__img {
  height: 50%;
}

.brand__title-wrp {
  flex-grow: 1;
  background-color: #F1E4E6;
  padding: 0 0 0 64px;
  display: flex;
  align-items: center;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  margin-left: 16px;
}

.brand__title-lower {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

.brand__title-pink {
  color: #F18B99;
}

@media (max-width: 1599px) {
  .brand__img {
    height: 100%;
  }

  .brand__title-wrp {
    padding-left: 40px;
  }

  .brand__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 52px;
    text-transform: uppercase;
    margin-left: 16px;
  }

  .brand__title-lower {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    display: block;
  }
}
@media (max-width: 1100px) {
  .brand__img {
    height: 370px;
  }
}
@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    font-weight: 900;
    line-height: 45px;
    text-transform: uppercase;
    margin-left: 16px;
  }

  .brand__title-lower {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    display: block;
  }

  .brand__title-wrp {
    padding-left: 56px;
    min-height: 363px;
  }
}
@media (max-width: 375px) {
  .brand__img {
    display: none;
  }
}
.product__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.product__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  padding: 6px 0 48px 0;
}

.product__list-card-one {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
}

.product__item-background {
  background: #F8F8F8;
}

.product__item-title {
  padding: 25px 0 0 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.product__item-text {
  padding: 13px 0 0 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  width: 315px;
}

.product__item-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 18px 0 20px 18px;
}

.product__item {
  width: 360px;
  margin-bottom: 16px;
}

.product__item-img-wrp {
  position: relative;
}

.product__item-img-wrp::before {
  content: "";
  background-color: #222222;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.product__item-add-button {
  position: absolute;
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #E8E8E8;
  width: 138px;
  height: 43px;
  border: 1px solid #FFFFFF;
  background-color: #222222;
  opacity: 0.7;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  padding-left: 40px;
  box-sizing: border-box;
}

.product__item-add-button:hover {
  color: #F18B99;
}

.prodduct__item-svg-basket {
  position: absolute;
  display: block;
  opacity: 0.7;
  fill: #E8E8E8;
  display: none;
  top: 52%;
  left: 35%;
  transform: translate(-50%);
  padding-left: 15px;
}

.prodduct__item-svg-basket:hover {
  fill: #F16D7F;
}

.product__item:hover .product__item-img-wrp::before,
.product__item:hover .product__item-add-button,
.product__item:hover .prodduct__item-svg-basket {
  display: block;
}

.product__item-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
}

.product-hover__border {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 138px;
  height: 43px;
  border: 1px solid #FFFFFF;
}

.product-hover__img {
  width: 26px;
}

.product-hover__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.product__item-women:hover .product__item-hover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__button-browse {
  margin: 48px 0 96px 0;
  display: block;
  display: flex;
  justify-content: center;
}

.product__type-browse {
  width: 211px;
  height: 47px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FF6A6A;
  color: #F26376;
  background: #FFFFFF;
  box-shadow: 17px 18px 8px 0px rgba(34, 60, 80, 0.2);
}

.product__type-browse:hover {
  background: #F26376;
  color: white;
}

.product__type-browse-img {
  position: absolute;
  padding-left: 160px;
  padding-top: 18px;
}

.product__list-card-two {
  justify-content: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.product__list {
  display: grid;
  grid-template-columns: 34% 34% 32%;
  justify-content: center;
  margin: 129px 0 128px 0;
}

.product__list-one {
  display: grid;
  grid-template-columns: 34% 34% 32%;
  justify-content: center;
  margin: 0 0 48px 0;
}

.product__item-invisible:hover .product__item-img-wrp::before,
.product__item-invisible:hover .product__item-add-button,
.product__item-invisible:hover .prodduct__item-svg-basket {
  display: block;
}

@media (max-width: 767px) {
  .product__list-one {
    display: grid;
    grid-template-columns: 53% 51%;
    margin: 0;
    justify-content: center;
  }

  .product__item-invisible {
    display: none;
  }

  .product__list-card-two {
    grid-template-columns: 52% 51%;
    display: grid;
    justify-content: center;
  }

  .product__list {
    display: grid;
    grid-template-columns: 53% 51%;
    justify-content: center;
    margin: 129px 0 128px 0;
  }
}
@media (max-width: 375px) {
  .product__list-one {
    grid-template-columns: 102%;
  }

  .product__list-card-two {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .product__button-browse {
    margin: 41px 0 96px 0;
  }

  .product__item {
    width: 100%;
  }

  .product__item-invisible {
    display: block;
  }

  .product__item-img {
    width: 100%;
  }

  .product__list {
    display: flex;
    flex-direction: column;
    margin: 64px 0 64px 0;
  }
}
.advantages {
  background: #222224;
}

.advantages__list {
  min-height: 341px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.advantages__item {
  padding-top: 103px;
}

.advantages__item-img:hover {
  opacity: 0.5;
}

.advantages__item-title {
  font-weight: 400;
  font-size: 20x;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 28px;
}

.advantages__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #AAAAAA;
  width: 300px;
  padding-top: 16px;
}

.advantages__item-title-sales {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 19px;
}

.advantages__item-text-sales {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #AAAAAA;
  padding-top: 16px;
  width: 300px;
}

.advantages__item-title-quality {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 25px;
}

.advantages__item-text-quality {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #AAAAAA;
  padding-top: 16px;
  width: 300px;
}

@media (max-width: 767px) {
  .advantages__list {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .advantages__item {
    padding-top: 48px;
  }

  .advantages__item-text-quality {
    padding-bottom: 64px;
  }
}
.price__menu {
  background: #F5F3F3;
  width: 360px;
  height: 214px;
  margin-left: 128px;
}

.price__list-menu {
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}

.price__link-menu {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
  margin-top: 39px;
  margin-right: 34px;
}

.price__text-menu {
  margin-left: 20px;
}

.price__link-menu-grand {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-right: 37px;
}

.price__title-menu {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  margin-top: 12px;
}

.price__title-menu-price {
  color: #F16D7F;
  margin-left: 30px;
  font-weight: 700;
}

.price__line {
  width: 275px;
  opacity: 0.6;
  margin-top: 21px;
}

.price__button-checkout {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-left: 44px;
  width: 273px;
  height: 50px;
  color: #4A4A4A;
  opacity: 0.8;
  margin-top: 17px;
  border: none;
}

.price__button-checkout:hover {
  background: #F26376;
  color: white;
  border-radius: 20px;
  transition: 1s;
}

.footer {
  background-image: url(../img/footer-subscribe.jpg);
  min-height: 448px;
  background-repeat: no-repeat;
  flex-grow: 1;
  background-size: cover;
}

.footer__card {
  justify-content: space-between;
  display: flex;
}

.footer__smile {
  text-align: center;
  margin-top: 86px;
}

.footer__title-subscribe {
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  text-transform: uppercase;
  color: #222224;
}

.footer__title-promotion {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #222224;
  display: block;
}

.footer__text-italic {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  width: 360px;
  padding-top: 30px;
}

.footer__subscribe {
  margin-top: 150px;
}

.footer__title {
  text-align: center;
  margin-bottom: 32px;
}

.footer__nav {
  display: flex;
}

.footer__nav-input {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.87;
  width: 300px;
  height: 49px;
  padding-left: 20px;
  border-radius: 20px 0 0 20px;
  border: #E1E1E1;
  background: #E1E1E1;
}

.footer__nav-submit {
  padding: 15px 15px 15px 15px;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0;
  border: #E1E1E1;
  background: #E1E1E1;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.87;
  text-decoration: none;
}

.footer__nav-submit:hover {
  background: #F26376;
  color: white;
}

.footer__reserved {
  background: #222224;
  min-height: 79px;
}

.footer__reserved-block {
  justify-content: space-between;
  display: flex;
}

.footer__text-reserved {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding-top: 30px;
}

.footer__list {
  margin-top: 20px;
}

.foter__reserwed-block-2 {
  padding-top: 24px;
}

.footer__item {
  display: inline-block;
}

.footer__item-faccebook {
  padding: 7px 12px 11px 12px;
  display: block;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__item-faccebook:hover {
  background: #F16D7F;
}

.footer__item-insta {
  padding: 8px 9px 11px 10px;
  margin: 0 0 0 7px;
  display: block;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__item-insta:hover {
  background: #F16D7F;
}

.footer__item-vector {
  padding: 7px 9px 11px 11px;
  margin: 0 7px 0;
  display: block;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__item-vector:hover {
  background: #F16D7F;
}

.footer__item-twitter {
  padding: 9px 9px 11px 9px;
  display: block;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__item-twitter:hover {
  background: #F16D7F;
}

@media (max-width: 767px) {
  .footer__card {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer__subscribe {
    margin-top: 48px;
    margin-bottom: 140px;
  }
}
@media (max-width: 375px) {
  .footer__reserved-block {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-top: 43px;
    flex-direction: column-reverse;
  }

  .footer__reserved {
    min-height: 143px;
  }

  .footer__list {
    margin: 0;
  }

  .footer__text-reserved {
    padding-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
  }

  .footer__nav {
    width: 100%;
    justify-content: center;
  }

  .footer__nav-input {
    width: 100%;
  }

  .footer__nav-submit {
    width: 30%;
  }
}
.shopping__cart-people {
  display: flex;
  margin-top: 96px;
}

.shopping__people-t-shirt {
  display: flex;
}

.shopping__list-menu {
  background: #FFFFFF;
  width: 390px;
  height: 306px;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.shopping__link-menu {
  margin-left: 31px;
  margin-top: 22px;
}

.shopping__link-menu-mango {
  display: flex;
}

.shopping__title-menu {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
  width: 210px;
  display: inline-block;
}

.shopping__img-menu {
  margin-left: 105px;
  opacity: 0.6;
  border: 0;
  background-color: white;
}

.shopping__svg {
  padding-bottom: 30px;
}

.shopping__img-menu:hover {
  fill: #F16D7F;
}

.shopping__price-menu {
  color: #F16D7F;
  margin-left: 5px;
}

.shopping__text-menu-price {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-top: 42px;
}

.shopping__text-menu-color {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-top: 6px;
}

.shopping__text-menu-size {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-top: 6px;
}

.shopping__text-menu-quantity-number {
  border: 1px solid #EAEAEA;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  margin-left: 40px;
  padding: 0 8px 0 8px;
}

.shopping__text-menu-quantity {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-top: 6px;
}

.shopping__img-menu-cross {
  position: absolute;
}

.shopping__nav {
  margin-left: 129px;
}

.shopping__title_nav {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
}

.shopping__cart-people-negro {
  display: flex;
  margin-top: 40px;
}

.shopping__list-transition {
  display: flex;
  margin-top: 72px;
  margin-bottom: 128px;
}

.shopping__cart {
  text-decoration: none;
}

.shopping__link-transition-two {
  margin-left: 193px;
}

.shopping__button {
  margin-top: 72px;
  margin-bottom: 128px;
}

.shopping {
  justify-content: center;
  display: flex;
  padding: 65px 0 49px 0;
}

.shopping__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
}

.shopping__button-color {
  border: 0;
  background: white;
}

.shopping__button-choose {
  border: 0;
  background: white;
}

.shopping__text-choose {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  padding-left: 23px;
}

.schopping__text-quantity {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  padding-left: 23px;
}

.shopping__button-quantity {
  border: 0;
  background: white;
}

.shopping__number {
  display: flex;
}

.shopping__number-input {
  width: 31px;
  padding: 0;
  padding-left: 10px;
  margin-left: 25px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 21px;
  line-height: 12px;
  color: black;
  border: 0;
}

.shopping__number-input:hover,
.shopping__number-input:focus {
  outline: 1px solid #F26376;
  cursor: pointer;
}

@media (max-width: 767px) {
  .shopping__nav {
    display: none;
  }

  .price__menu {
    display: none;
  }

  .shopping__invisible {
    display: block;
    display: flex;
  }

  .price__menu-invisible {
    background: #F5F3F3;
    width: 360px;
    height: 214px;
    margin-left: 16px;
    margin-top: 38px;
  }

  .shopping__cart-people {
    margin-top: 59px;
    margin-right: 41px;
  }

  .shopping__list-menu {
    width: 465px;
  }

  .shopping__svg {
    padding-left: 78px;
  }

  .shopping__button {
    text-align: center;
    margin-bottom: 64px;
  }

  .button__continue-shopping {
    margin-left: 49px;
  }

  .shopping__nav-invisible {
    padding-left: 16px;
  }

  .button__form-quote {
    margin-bottom: 128px;
  }

  .shopping__cart-people-negro {
    margin-right: 41px;
  }
}
@media (max-width: 375px) {
  .shopping__cart-people {
    margin-left: 10px;
  }

  .shopping__people-img {
    width: 143px;
    height: 188px;
  }

  .shopping__list-menu {
    width: 214px;
    height: 188px;
  }

  .shopping__link-menu {
    margin-left: 17px;
  }

  .shopping__title-menu {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 141px;
  }

  .shopping__img-menu {
    margin-left: 0;
  }

  .shopping__svg {
    padding-left: 32px;
    width: 10px;
    height: 11px;
    padding-top: 5px;
  }

  .shopping__text-menu-price {
    margin-top: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #575757;
    margin-bottom: 4px;
    text-transform: none;
  }

  .shopping__text-menu-color {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #575757;
    margin-bottom: 4px;
    text-transform: none;
  }

  .shopping__text-menu-size {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #575757;
    margin-bottom: 4px;
    text-transform: none;
  }

  .shopping__text-menu-quantity {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #575757;
    text-transform: none;
  }

  .shopping__number-input {
    font-size: 14px;
    width: 14px;
  }

  .shopping__button {
    display: flex;
    margin-top: 30px;
  }

  .button__shopping-cart {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #575757;
    text-transform: none;
    width: 174px;
    height: 32px;
  }

  .button__continue-shopping {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #575757;
    text-transform: none;
    margin-left: 10px;
    width: 174px;
    height: 32px;
  }

  .shopping__invisible {
    flex-direction: column;
  }

  .button__form-quote {
    text-transform: none;
    margin-bottom: 0;
    margin-top: 24px;
  }

  .price__menu-invisible {
    margin: 96px 0 48px 8px;
  }

  .shopping__cart-people-negro {
    margin-left: 10px;
  }

  .shopping__text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }

  .shopping__text-choose {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }

  .schopping__text-quantity {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }

  .shopping {
    padding: 49px 0 51px 0;
  }
}
.filter {
  display: flex;
  margin-top: 51px;
  margin-bottom: 64px;
  position: relative;
}

.filter__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  padding-left: 10px;
}

.filter__title:hover {
  color: #F16D7F;
}

.filter__button {
  border: 0;
  background: white;
  padding-left: 11px;
  padding-bottom: 4px;
}

.filter-img-icon {
  fill: #000000;
}

.filter-img-icon:hover {
  fill: #F16D7F;
}

.filter__button:hover + .nav__filter,
.filter__button:focus + .nav__filter {
  display: block;
}

.filter__title-brand {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 32px 0 2px 11px;
  text-transform: uppercase;
}

.filter__title-designer {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 26px 0 2px 11px;
  text-transform: uppercase;
}

.filter__title-brand:hover {
  color: #EF5B70;
}

.filter__title-designer:hover {
  color: #EF5B70;
}

@media (max-width: 767px) {
  .filter {
    margin-top: 21px;
    margin-bottom: 41px;
  }

  .filter__title {
    padding-left: 0;
  }
}
@media (max-width: 375px) {
  .filter__title {
    display: none;
  }

  .filter__button {
    padding-left: 0;
  }
}
.text__trending {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  padding-left: 320px;
}

.text__size {
  padding-left: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
}

.text__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  padding-left: 26px;
}

@media (max-width: 767px) {
  .text__trending {
    padding-left: 317px;
  }

  .text__price {
    padding-left: 12px;
  }

  .text__size {
    padding-left: 22px;
  }
}
@media (max-width: 375px) {
  .text__trending {
    font-size: 12px;
    line-height: 14px;
    padding-left: 72px;
  }

  .text__size {
    font-size: 12px;
    line-height: 14px;
    padding-left: 10px;
  }

  .text__price {
    font-size: 12px;
    line-height: 14px;
    padding-left: 10px;
  }

  .button__svg {
    padding-bottom: 5px;
    padding-left: 3px;
  }
}
.checkbox__sizes {
  display: none;
  position: absolute;
  padding-left: 635px;
}

.checkbox__input-sizes {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  text-transform: uppercase;
}

.catalog__list {
  display: flex;
  margin: 64px 0 100px 0;
  justify-content: center;
}

.catalog__item-svg {
  fill: #6F6E6E;
  padding-right: 17px;
}

.catalog__item-link {
  text-decoration: none;
  padding-right: 17px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #6F6E6E;
}

.catalog__item-link:hover {
  color: #F16D7F;
}

.catalog__item-link-six {
  color: #6F6E6E;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.catalog__item-link-six:hover {
  color: #F16D7F;
}

.catalog__item-svg-item {
  fill: #6F6E6E;
}

.catalog__item-link-ellipsis {
  text-decoration: none;
  color: #6F6E6E;
}

@media (max-width: 767px) {
  .catalog__list {
    margin: 40px 0 63px 0;
    display: flex;
    justify-content: center;
  }
}
.collection {
  border: 1px solid #EAEAEA;
  height: 601px;
}

.collection__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  text-align: center;
  padding: 64px 0 12px 0;
}

.collection__img {
  margin-left: 541px;
}

.collection__title-moschino {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
  padding: 12px 0 48px 0;
  text-align: center;
}

.collection__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 555px;
  padding-left: 291px;
}

.collection__text-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  text-align: center;
  padding: 32px 0 65px 0;
}

.collection__feature {
  width: 641px;
  opacity: 0.3;
}

@media (max-width: 767px) {
  .collection {
    width: 100%;
  }

  .collection__img {
    margin-left: 355px;
  }

  .collection__text {
    width: 555px;
    padding-left: 127px;
  }
}
@media (max-width: 375px) {
  .collection {
    width: 100%;
  }

  .collection__img {
    margin-left: 159px;
  }

  .collection__text {
    padding-left: 24px;
    width: 326px;
  }

  .collection__feature {
    width: 174px;
  }

  .collection__text-price {
    padding: 32px 0 32px 0;
  }
}
@media (max-width: 375px) {
  .img__women {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */