.benefits__item:hover{
    opacity: 0.6;
}

.benefits__item{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 16px;
    }


.benefits__item{
    position: relative;
}

.benefits__item:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 4px;
    left: -44px;
    background-image: url(../img/check.svg);
    
}

.benefits {
    margin-left: 128px;
    margin-top: 64px;
}

.benefits__title{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-transform: uppercase
}

.benefits__text{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 22px 0 21px;
}
    
@media (max-width:$tablet-width){
    .benefits{
        width: 52%;
    }

    .benefits__title{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 42px;
    }

    .benefits__text{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 42px;
    }

    .benefits__list{
        padding-left: 74px;
    }

    .benefits__item{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    }

    .benefits__item:before{
        padding-left: -34px;
    }


    .benefits{
        margin-left: 22px;
    } 
}

@media (max-width:$mobile-width){
    .benefits{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .benefits__title{
        padding: 0px;
    }

    .benefits__text{
        padding: 0px;
    }
    
    .benefits__list{
        padding-left: 44px;
    }

    .benefits__button{
    text-align: center;
    margin-top: 16px;
    }
    }