.brand {
    display: flex;
}

.brand__img {
    height: 50%;
    
}

.brand__title-wrp {
    flex-grow: 1;
    background-color: $pink-bkg;
    padding: 0 0 0 64px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    margin-left: 16px;
}

.brand__title-lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__title-pink {
    color: $pink-color;
}

@media (max-width:$desktop-width){
    .brand__img{
        height: 100%;
    }

    .brand__title-wrp{
        padding-left: 40px;
    }

    .brand__title{
        font-size: 44px;
        font-weight: 900;
        line-height: 52px;
        text-transform: uppercase;
        margin-left: 16px;
    }

    .brand__title-lower{
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        display: block;
    }
}

@media (max-width:$tablet-mid-width){
    .brand__img{
        height: 370px;
    }

}

@media (max-width:$tablet-width){
    .brand__title{
        font-size: 38px;
        font-weight: 900;
        line-height: 45px;
        text-transform: uppercase;
        margin-left: 16px;
    }
    
    .brand__title-lower{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        display: block;
    }

    .brand__title-wrp{

        padding-left: 56px;
        min-height: 363px;
}

}

@media (max-width:$mobile-width){
    .brand__img{
        display: none;
    }

}