.button__input {
    display: inline-block;
}

.button__type-registration{
    color: #F26376;
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 18px 66px 17px 29px;
    background: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 96px;
    box-shadow: 17px 18px 8px 0px rgb(34 60 80 / 20%);
    position: relative;
}

.button__img-stels{
    position: absolute;
    margin-left: 20px;
    margin-top: 2px;
}


.button__type-registration:hover{
    background:#F26376;
    color: white; 
}


.button__form-quote{
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    border: 1px solid #A4A4A4;
    width: 100px;
    height: 34px;
    text-transform: uppercase;
    margin-top: 24px;
    background: #FFFFFF;
    border: 1px solid #A4A4A4;
    opacity: 0.9;
    box-shadow: 17px 18px 8px 0px rgb(34 60 80 / 20%);
}

.button__form-quote:hover{
    background:#F26376;
    color: white; 
}

.button__shopping-cart {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 234px;
    height: 49px;
    box-sizing: border-box;
    border: 1px solid #A4A4A4;
    background: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.8;
    box-shadow: 17px 18px 8px 0px rgb(34 60 80 / 20%);
}

.button__continue-shopping {
    margin-left: 180px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 234px;
    height: 49px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #A4A4A4;
    text-transform: uppercase;
    opacity: 0.8;
    box-shadow: 17px 18px 8px 0px rgb(34 60 80 / 20%);
}

.shopping__invisible{
    display: none;
}

.button__shopping-cart:hover{
    background:#F26376;
    color: white; 
}

.button__continue-shopping:hover{
    background:#F26376;
    color: white; 
}

.button__menu{
    border: 0;
    background: white;
}

.button__menu-size{
    background: white;
    border: 0;
}

.button__menu-size:hover + .checkbox__sizes,
.button__menu-size:focus + .checkbox__sizes {
    display: block;
}

.button__svg{
    padding-left: 10px;
    padding-bottom: 3px;
    fill: #6F6E6E;
}

.button__svg:hover{
    fill: #F26376;
}

.button__catalog{
    display: flex;
    justify-content: center;
    margin: 48px 0 96px 0;
}

.button__page-selection{
    border: 0;
    background: white;
}

.button__page-selection-button{
    border: 0;
    background: white;
}

.button{
    display: flex;
    justify-content: center;
}

.button__link{
    padding-top: 10px;
    position: absolute;
    padding-right: 145px;
}

.button__svg-basket{
    fill: #FF6A6A;
    position: absolute;
    margin-left: 494px;
}

.button__svg-basket:hover{
    opacity: 0.5;
}

.button__button-cart{
    padding: 14px 65px 14px 72px;
    border: 1px solid #FF6A6A;
    background-color:white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FF6A6A;
    border-radius: 5px;
    margin-left: 464px;
}

@media (max-width:$tablet-width){
    .button__svg-basket {
        margin-left: 297px;
    }
    
    .button__button-cart {
        margin-left: 276px;
    }
    
}

@media (max-width:$mobile-width){

.button__type-registration{
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 18px 33px 17px 29px;
}

    .button__img-stels{
        margin-left: 8px;
    }

    .button__button-cart {
        margin-left: 74px;
    }

    .button__svg-basket {
        margin-left: 103px;
    }
    
}

