.checkbox__sizes {
    display: none;
    position: absolute;
    padding-left: 635px;
}

.checkbox__input-sizes{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    text-transform: uppercase;
}
