.collection{
    border: 1px solid #EAEAEA;
    height: 601px;
}

.collection__title{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    text-align: center;
    padding: 64px 0 12px 0;
}

.collection__img{
    margin-left: 541px;
}

.collection__title-moschino{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
    padding: 12px 0 48px 0;
    text-align: center;
}

.collection__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    width: 555px;
    padding-left: 291px;
}

.collection__text-price{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    text-align: center;
    padding: 32px 0 65px 0;
}

.collection__feature{
    width: 641px;
    opacity: 0.3;
}

@media (max-width:$tablet-width){
    .collection{
        width: 100%;
    }

    .collection__img{
        margin-left: 355px;
    }

    .collection__text{
    width: 555px;
    padding-left: 127px;
    }

}

@media (max-width: $mobile-width){
    .collection{
        width: 100%;
    }

    .collection__img{
        margin-left: 159px;
    }

    .collection__text{
    padding-left: 24px;
    width: 326px;
        }

        .collection__feature{
            width: 174px;
        }

    .collection__text-price{
        padding: 32px 0 32px 0;
     } 

}