.form__text-input{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    padding-top: 64px;
}

.form__input-text-one{
    width: 360px;
    height: 45px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: black;
    box-sizing: border-box;
    padding-left: 17px;
    opacity: 0.6;
}

.form__input-text-one:hover,
.form__input-text-one:focus {
    outline: 1px solid #F26376;
    cursor: pointer;
}

.form__input-text-two{
    width: 360px;
    height: 45px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: black;
    margin-top: 21px;
    box-sizing: border-box;
    padding-left: 17px;
    margin-bottom: 31px;
    opacity: 0.6;
}

.form__input-text-two:hover,
.form__input-text-two:focus{
    outline: 1px solid #F26376;
    cursor: pointer;
}

.form__input-radio-male{
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}


.form__input-radio-male-span{
    padding-left: 10px;
    padding-right: 20px;
}

.form__input-radio-female-span{
    padding-left: 10px;
}

.form__input-radio-female{
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.form__text-input-registration{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-top: 33px;
    margin-bottom: 21px;
}

.form__input-text-email{
    width: 360px;
    height: 45px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: black;
    box-sizing: border-box;
    padding-left: 17px;
    opacity: 0.6;
}

.form__input-text-email:hover,
.form__input-text-email:focus{
    outline: 1px solid #F26376;
    cursor: pointer;
}

.form__input-text-password{
    width: 360px;
    height: 45px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: black;
    margin-top: 21px;
    box-sizing: border-box;
    padding-left: 17px;
    opacity: 0.6;
}

.form__input-text-password:hover,
.form__input-text-password:focus{
    outline: 1px solid #F26376;
    cursor: pointer;
}

.form__text-input-form{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    width: 359px;
    margin: 15px 0 39px 0;
}

.form__registration{
    display: flex;
}

.form__registration-list{
    display: inline-block;
}

.form__input-bangladesh{
    margin-top: 20px;
    width: 360px;
    height: 45px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: black;
    box-sizing: border-box;
    padding-left: 16px;
    opacity: 0.5;
    border: 1px solid #A4A4A4;
}

.form__input-bangladesh:hover,
.form__input-bangladesh:focus{
    outline: 1px solid #F26376;
    cursor: pointer;
}

.form__input-state{
    margin-top: 20px;
    width: 360px;
    height: 45px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: black;
    box-sizing: border-box;
    padding-left: 16px;
    opacity: 0.5;
    border: 1px solid #A4A4A4;
}

.form__input-state:hover,
.form__input-state:focus {
  outline: 1px solid #F26376;
  cursor: pointer;
}

.form__input-postcode{
    margin-top: 20px;
    width: 360px;
    height: 45px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: black;
    box-sizing: border-box;
    padding-left: 16px;
    opacity: 0.5;
    border: 1px solid #A4A4A4;
}

.form__input-postcode:hover,
.form__input-postcode:focus {
  outline: 1px solid #F26376;
  cursor: pointer;
}
