.main__registration {
    background: #F8F3F4;
    min-height: 148px;
}

.main__registration-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
    padding: 59px 0 60px;
}

.main__shopping-cart{
    background: #F8F3F4;
    min-height: 148px;
}

.main__shopping-cart-title{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
    padding: 59px 0 60px;
}
