.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    list-style: none;
}

.sales__item {
    height: 260px;
    background-color: $sales-bkg;
    width: 32%;
}

.sales__item-block {
    padding-top: 105px;
}

.sales__item-women {
    background-image: url(../img/women-sales.jpg);

}

.sales__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.sales__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $pink-color;
}

.sales__item-men {
    background-image: url(../img/Men-hot.jpg);
}

.sales__item-kids {
    background-image: url(../img/Kids.jpg);
}

.sales__item-accesories {
    background-image: url(../img/accesories.jpg);
    width: 100%;
    margin: 30px 0 97px 0;
    height: 180px;
}

.sales__item-block-accesories {
    padding: 65px;
}

@media (max-width: $tablet-width){
    .sales__item-women {
        width: 233px;
        height: 167px;
    }

    .sales__item{
            max-width: 32%;
        }
   

    .sales__item-men {
        width: 233px;
        height: 167px;
    }
    
    .sales__item-kids {
        width: 233px;
        height: 167px;
    }

    .sales__item-accesories {
        max-width: 100%;
        height: 117px;
        background-size: cover;
        background-position: center;
    }

    .sales__item-block-accesories {
        flex-direction: column;
        padding: 33px;
        display: flex;

    }

    .sales__item-block {
        padding-top: 59px;
        display: flex;
        flex-direction: column;
    }
}


@media (max-width:$mobile-width){
    .sales__item-women {
        width: 343px;
        height: 247px;
    }

    .sales__item-men {
        width: 343px;
        height: 247px;
        margin: 32px 0 32px 0;
    }

    .sales__item-kids {
        width: 343px;
        height: 247px;
    } 

    .sales__item-block {
        padding-top: 105px;
        
    }

    .sales__item{
        max-width: 100%;
    }

    .sales__item-block-accesories {
        max-width: 100%;
        height: 111px;
        flex-direction: column;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .sales__item-accesories {
        background-size: cover;
        background-position: center;
        margin-bottom: 64px;
}


}